{% extends 'base.html.twig' %}

{% block title %}Hello TrainsController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {{ include('_partials/_articleCard.html.twig') }}    
        </div>
        <div class="col">
            {{ include('_partials/_articleCard.html.twig') }}    
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ include('_partials/_articleCard.html.twig') }}    
        </div>
        <div class="col">
            {{ include('_partials/_articleCard.html.twig') }}    
        </div>
    </div>
</div>
{% endblock %}
