{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}


<div class="form-control text-center">
{{ form_start(form) }}
    <div class="d-inline-flex gap-3 m-2">
        {{ form_label(form.title) }}
        {{ form_widget(form.title)}}
    </div>

    <div class="document-editor">
        <div id="toolbarContainer" class="document-editor__toolbar"></div>
        <div class="document-editor__editable-container">
            <div id="editor" class="document-editor__editable"></div>
        </div>
    </div>
{{ form_end(form) }}
</div>
<script>
    DecoupledDocumentEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
            const toolbarContainer = document.querySelector( '#toolbarContainer' );

            toolbarContainer.appendChild( editor.ui.view.toolbar.element );
        } )
        .catch( error => {
            console.error( error );
        } );
</script>
{% endblock %}

{% block javascripts %}
    <script src="http://127.0.0.1:8000/ckeditor5-37.0.1-9kw6pcxxup4z/build/ckeditor.js"></script>
{% endblock %}

{# Ajouter un champ pour mettre une image miniature sur la card #}