@import "bootstrap";
body {
    background-color: yellowgreen;
    
}

.wrapper-menu {
    margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;
}

.nav-text {
    margin-top: -70%;
    margin-bottom: 1rem;
    margin-left: -5%;
}
